<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add operator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>


<form action="#" th:action="@{addOperator}"
      th:object="${operatorDto}" method="post">
    
    <label>First Name:<input type="text" th:field="*{firstName}"/></label>
    <br/>

    <label>Last Name:<input type="text" th:field="*{lastName}"/></label>
    <br/>

    <label>Sex:<input type="text" th:field="*{sex}"/></label>
    <br/>

    <label>Birthday:<input type="datetime-local" th:field="*{birthday}"/></label>
    <br/>

    <label>Mobile phone:<input type="text" th:field="*{mobPhone}"/></label>
    <br/>

    <label>
    Address:
    <input type="text" th:field="*{address}"/>
    </label>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>