<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>
    <a th:href="@{/test/items}">Item list</a>
</h1>
<h1>
    <a th:href="@{/test/operators}">Operators</a>
</h1>
<h1>
    <a th:href="@{/test/sellers}">Sellers</a>
</h1>
<h1>
    <a th:href="@{/logout}">Log out</a>
</h1>
</body>
</html>