<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Item List</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Operator last name</th>
            <th>quantity</th>
            <th>Warehouse name</th>
            <th>Seller name</th>
            <th>Created date</th>
            <th>Modified date</th>
            <th>Price</th>
        </tr>
        <tr th:each ="item : ${items}">
            <td th:utext="${item.title}">...</td>
            <td th:utext="${item.description}">...</td>
            <td th:utext="${item.operator.lastName}">...</td>
            <td th:utext="${item.quantity}">...</td>
            <td th:utext="${item.warehouse.name}">...</td>
            <td th:utext="${item.seller.name}">...</td>
            <td th:utext="${item.createdDate}">...</td>
            <td th:utext="${item.modifiedDate}">...</td>
            <td th:utext="${item.price}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
