<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Operator List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Operator List</h1>
<a th:href="@{/test/operators/addOperator}">Add Operator</a>
<h4>
    <a th:href="@{/}">Main page</a>
</h4>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Birthday</th>
            <th>Mob phone</th>
            <th>Address</th>
        </tr>
        <tr th:each ="operator : ${operators}">
            <td th:utext="${operator.firstName}">...</td>
            <td th:utext="${operator.lastName}">...</td>
            <td th:utext="${operator.Sex}">...</td>
            <td th:utext="${operator.birthday}">...</td>
            <td th:utext="${operator.mobPhone}">...</td>
            <td th:utext="${operator.Address}">...</td>
        </tr>
    </table>
</div>
</body>
</html>