<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seller List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Operator List</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Post index</th>
            <th>Phone number</th>

        </tr>
        <tr th:each="seller : ${sellers}">
            <td th:utext="${seller.name}">...</td>
            <td th:utext="${seller.city}">...</td>
            <td th:utext="${seller.postIndex}">...</td>
            <td th:utext="${seller.phoneNumber}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
